body {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  padding: 10px 100px;
  gap: 30px;
}

nav a:first-child {
  font-weight: bold;
  font-size: 20px;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

nav a:nth-child(2) {
  margin-left: auto;
}

.hero2 {
  padding: 30px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.hero2 div {
  text-align: start;
  font-size: 18px;
  color: #e5e7eb;
}

button {
  background-color: #3882f6;
  color: white;
  border-radius: 8px;
  border: none;
  padding: 5px 25px;
}

a {
  text-decoration: none;
  color: white;
}

.hero {
  background-color: #1F2937;
  color: white;
}

.random-information {
  margin: 50px 800px 100px;
}

.random-information h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.sub-group {
  display: flex;
  justify-content: center;
}

.sub-group img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  border: 2px solid #3882f6;
}


.call-to-action {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3882f6;
  color: #F9FAF8;
  border-radius: 10px;
  margin: 0 220px;
  padding: 20px 100px;
  text-align: start;
  line-height: 1px;
}

.call-to-action button {
  border: 2px solid #F9FAF8;
}

.call-to-action p {
  font-size: 14px;
  color: #E5E7EB;
}

.quote {
  background-color: #E5E7EB;
  margin-bottom: 60px;
  padding: 20px;
}

footer {
  background-color: #1F2937;
  padding: 10px;
  color: hsla(0, 0%, 100%, 0.7);
  margin-top: auto;
}